---
layout: base.njk
---
<section class="page-titlebar{% if page.url == '/about/' %} is-tall{% endif %}">
  <h1>{{ title }}</h1>
  <p>
    <a href="/">Home</a>
    {% if page.url.indexOf("/partners/") == 0 %}
      / <a href="/consortium/">Partners</a>
    {% elif page.url.indexOf("/related-projects/") == 0 %}
      / <a href="/projects/">Projects</a>
    {% endif %}
    / {{ title }}
  </p>
</section>
<article class="content-wrap prose page-content{% if page.url.indexOf('/partners/') == 0 or page.url.indexOf('/related-projects/') == 0 %} detail-content{% endif %}{% if page.url == '/projects/' %} projects-content{% endif %}{% if page.url == '/contacts/' %} contacts-content{% endif %}{% if page.url == '/consortium/' %} consortium-content{% endif %}{% if page.url == '/about/' %} about-content{% endif %}{% if page.url == '/biodiversity-observatory-automation-wg/' %} wg-content{% endif %}">
  {{ content | safe }}
</article>
