---
layout: base.njk
---
<section class="page-titlebar">
  <h1>{{ title }}</h1>
  <p><a href="/">Home</a> / {{ title }}</p>
</section>
<article class="content-wrap prose page-content">
  {{ content | safe }}
</article>
