---
layout: base.njk
---
<section class="page-titlebar post-titlebar">
  <h1>{{ title }}</h1>
  <p><a href="/">Home</a> / <a href="/communications/news/">News</a> / {{ title }}</p>
</section>
<article class="content-wrap post-page-content">
  <div class="post-prose post-detail">
    {{ content | safe }}
  </div>
</article>
