---
layout: "page.njk"
title: "Škocjan Caves Park"
permalink: "/partners/skocjan-caves-park/"
---
<h2>Škocjan Caves Park</h2>
				<h5>Contacts</h5>
				<p><strong>Samo Šturm<br /></strong><a href="mailto:samo.sturm@psj.si" target="_blank" rel="noopener">samo.sturm@psj.si</a></p><p><a href="mailto:tajnistvo@psj.si">tajnistvo@psj.si</a><br />+386 5 70 82 100<br />Škocjan 2 SI-6125 DIVAČA</p><p>Javni Zavod Park Škocjanske jame, Slovenija, joined LifeWatch Slovenia in 2017 and it contributes to LifeWatch ERIC through its National Distributed Centre. The Public Service Agency manages the Park as a public service. Within the framework of public service, the Agency performs several activities. The goals of Park&#8217;s management are divided into several areas: (1) protection goals, (2) development goals, (3) wider goals, followed by the especially important (4) education goals and (5) monitoring goals.</p>
				<img width="700" height="447" src="/assets/uploads/Logo-Skocjan-Caves-11.jpg" alt="" srcset="/assets/uploads/Logo-Skocjan-Caves-11.jpg 700w, /assets/uploads/Logo-Skocjan-Caves-11-300x192.jpg 300w" sizes="(max-width: 700px) 100vw, 700px" />
				<h5>Research</h5>
				<img width="1024" height="681" src="/assets/uploads/the-exit-1024x681.jpg" alt="" srcset="/assets/uploads/the-exit-1024x681.jpg 1024w, /assets/uploads/the-exit-300x200.jpg 300w, /assets/uploads/the-exit-768x511.jpg 768w, /assets/uploads/the-exit.jpg 1200w" sizes="(max-width: 1024px) 100vw, 1024px" />
				<p>Following various inventories prepared at the time of Park’s establishment, the majority of activity is now oriented towards the establishment of continuous monitoring, by means of which an adequate system for monitoring the situation will be established. </p><p>It is reasonable to monitor all the parameters over the long term as it will enable rapid detection of negative effects on the environment and adequate responses or the adoption of certain measures aimed at alleviating these effects. </p><p>For this purpose, different factors are monitored regularly: quality and quantity of water in the cave, microclimate in the cave, flora and fauna on the surface, cave fauna, cracks in the cave and on collapse doline walls and the influence of ground-level ozone on the surface.</p>
				<h5>Publications</h5>
				<p>Mulec J, Oarga-Mulec A, Skok S, Šebela S, Cerkvenik R, Zorman T, Holko L, Eleršek T, Pašić L. 2021. <b>Emerging ecotone and microbial community of a sulfidic spring in the Reka River near Škocjanske jame, Slovenia.</b> Diversity, 13, 655. https://doi.org/10.3390/d13120655.</p><p>Prelovšek M, Gabrovšek F, Kozel P, Mulec J, Pipan T, Šebela S. <b>The Škocjan Caves – UNESCO World Heritage Site. </b>2021. in: Trofimova E. (ed.), Salomon J-N. (ed.). Preserving world subterranean heritage: natural, cultural and mixed subterranean heritage, (Zeitschrift für Geomorphologie, ISSN 0372-8854, ISSN 0044-2798, Supplementband, N. F., suppl. issue 3). [Stuttgart]: Borntraeger Science Publishers. vol. 62, pp. 49-64, ilustr., doi: 10.1127/zfg_suppl/2021/0690. [COBISS.SI-ID 56516099]</p>
				<p>Blatnik M, Culver D-C, Gabrovšek F, Knez M, Kogovšek B, Kogovšek J, Liu H, Mayaud C, Mihevc A, Mulec, J, Naparus-Aljančič M, Otoničar B, Petrič M, Pipan T, Prelovšek M, Ravbar N, Shaw, T-R, Slabe T, Šebela S, Zupan Hajna, N. 2020. <b>Karstology in the classical karst, (Advances in karst science).</b> Cham: Springer. XII, 222 pg., ilustr. ISBN 978-3-030-26826-8, doi: 10.1007/978-3-030-26827-5. [COBISS.SI-ID 17912067].</p>
