---
layout: "post.njk"
title: "LifeWatching WebTV Slovenia"
date: "2022-11-11T12:03:25"
permalink: "/news/lifewatching-webtv-slovenia/"
image: "/assets/uploads/LifeWatching_News.png"
---
<h2>LifeWatch Slovenia on the LifeWatch ERIC Science TV Channel<br></h2>
				<img width="768" height="378" src="/assets/uploads/LifeWatching_News.png" alt="" srcset="/assets/uploads/LifeWatching_News.png 768w, /assets/uploads/LifeWatching_News-300x148.png 300w" sizes="(max-width: 768px) 100vw, 768px" />
				<p>LifeWatching WebTV is here! Introducing your 1-stop platform for video content on biodiversity &amp; ecosystem research in Europe!</p><p>From documentaries, to snapshots, to livestreams, there&#8217;s content for all appetites– switch over now!</p>
				<a href="https://www.lifewatching.tv/?page_id=9159">
						<span>
									<span>Go to site</span>
					</span>
					</a>
