---
layout: "page.njk"
title: "ENVRI-FAIR"
permalink: "/related-projects/envri-fair/"
---
<img width="1024" height="654" src="/assets/uploads/ENVRI-FAIR-project-1024x654-1.png" alt="" />
				<p>ENVRI-FAIR is the connection of the ESFRI Cluster of Environmental RIs (ENVRI) to the European Open Science Cloud (EOSC). </p><p>The goal is that all participating RIs build FAIR data services to enhance researchers’ efficiency &amp; productivity, support innovation, enable data/knowledge based decisions &amp; connect ENVRI Cluster to EOSC. </p><p>LifeWatch ERIC coordinates WP11 (implementation in Biodiversity/Ecosystems subdomain) &amp; co-coordinates WP6 (training). VLIZ (LifeWatch Belgium) participates in and represents the marine domain for LifeWatch ERIC.</p><p>ENVRI-FAIR has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 824068.</p>
				<a href="https://envri.eu/home-envri-fair/">
						<span>
									<span>Go to project website</span>
					</span>
					</a>
