---
layout: "page.njk"
title: "Open-Earth-Monitor"
permalink: "/related-projects/open-earth-monitor/"
---
<img width="646" height="169" src="/assets/uploads/OEM_Logo_Horizontal_Dark_Transparent_Background_205x38.png" alt="" srcset="/assets/uploads/OEM_Logo_Horizontal_Dark_Transparent_Background_205x38.png 646w, /assets/uploads/OEM_Logo_Horizontal_Dark_Transparent_Background_205x38-300x78.png 300w" sizes="(max-width: 646px) 100vw, 646px" />
				<p>The goal of the Open-Earth-Monitor project (2023 -2027) is to build a cyber-infrastructure compliant with the F.A.I.R. principle to accelerate the adoption of environmental information and help build user communities at European and global level.</p>
<p>The key components of the cyber infrastructure are:</p>
<p>1) stakeholder committee and user involvement plans throughout the duration of the project;</p>
<p>2) high-performance computing engine and on-site data services;</p>
<p>3) tools that directly serve EU citizens and governance needs through easy-to-use data portals and applications;</p>
<p>4) provide tools for global management needs.</p><p><span>Participants from LifeWatch Slovenia: Karst Research Institute ZRC SAZU &amp; Slovenian Forestry Institute (Task 4.4. &#8211;&nbsp; terrestrial data) and National Institute of Biology (Task 4.5. &#8211; marine data)</span><br></p>
				<a class="related-project-button" href="https://earthmonitor.org/">
						<span>
									<span>Go to project website</span>
					</span>
					</a>
