---
layout: "page.njk"
title: "RI-SI-LifeWatch"
permalink: "/related-projects/ri-si-lifewatch/"
---
<section class="ri-si-intro">
  <p>What is RI-SI-LifeWatch?</p>
  <p>It stands for Research Infrastructure for the international competitiveness of the Slovenian development of research infrastructure space.</p>
  <p>Participating partners are: National Institute of Biology (NIB), Slovenian Forestry Institute (GIS), University of Ljubljana (UL), University of Maribor (UM).</p>
</section>
<section class="ri-si-main">
  <div class="ri-si-copy">
    <h2>RI-SI-LifeWatch</h2>
    <p>ZRC SAZU is leading institution of the project »DEVELOPMENT OF RESEARCH INFRASTRUCTURE FOR THE INTERNATIONAL COMPETITIVENESS OF THE SLOVENIAN DEVELOPMENT OF RESEARCH INFRASTRUCTURE SPACE – RI-SI-LifeWatch«. Participating partners are: National Institute of Biology (NIB), Slovenian Forestry Institute (GIS), University of Ljubljana (UL), University of Maribor (UM). Contract number C3330-19-952062 between ZRC SAZU and MIZŠ was signed on 23. 12. 2019.</p>
    <p>The operation is co-financed by the Republic of Slovenia, the Ministry of Education, Science and Sport and the European Union from the European Regional Development Fund. This operation is being implemented within the framework of the Operational Programme for the Implementation of the European Cohesion Policy 2014-2020, under<b>&nbsp;</b>Priority Axis 1: &#8220;International competitiveness of research, innovation and technological development in line with smart specialization for greater competitiveness and greening of the economy&#8221;; Priority Investment 1.1: &#8220;Strengthening infrastructure for research and innovation and the capacity to develop excellence in this area, as well as to promote competent centers, especially those of European importance&#8221;; Specific Objective 1.1.1: &#8220;Effective use of research infrastructure and development of knowledge/competences for better national and international cooperation in the Knowledge Triangle&#8221;.</p>
    <p>Operation is part of »Načrt razvojnih programov« (NRP) no. 3330-19-1142. EU contribution is 80%.</p>
    <p>More information can be found here:&nbsp;<a href="https://www.zrc-sazu.si/en/programi-in-projekti/ri-si-lifewatch" target="_blank" rel="noreferrer noopener">https://www.zrc-sazu.si/en/programi-in-projekti/ri-si-lifewatch</a>.</p>
    <p>A short report (in English) on RI-SI-LifeWatch project completion you can read&nbsp;<a href="https://www.lifewatch.eu/2021/10/07/completion-of-ri-si-lifewatch-project/" target="_blank" rel="noreferrer noopener">here</a>.</p>
    <p>The final report of the RI-SI-LifeWatch (in Slovene) you cand read&nbsp;<a href="/assets/uploads/RI-SI-LifeWatch_Koncno-porocilo_dopolnitev_januar-2022_popravek.pdf" target="_blank" rel="noreferrer noopener">here</a>.</p>
    <p class="ri-si-equipment"><strong>List of new equipment can be found&nbsp;<a href="https://www.zrc-sazu.si/en/strani/new-research-equipment-ri-si-lifewatch">here</a>.</strong></p>
  </div>
  <div class="ri-si-media">
    <img width="1018" height="724" src="/assets/uploads/ri-si-lifewatch_ang.jpg" alt="RI-SI-LifeWatch project partners and funding information">
    <img width="1024" height="654" src="/assets/uploads/RI-SI-1536x981-1.png" alt="RI-SI-LifeWatch funding programme">
  </div>
</section>
