---
layout: "post.njk"
title: "LifeWatch Slovenia featured in the LifeWatch ERIC newsletter"
date: "2024-01-04T11:47:18"
permalink: "/lifewatch-slovenia-featured-in-the-lifewatch-eric-newsletter/"
image: "/assets/uploads/24436000013989004_zc_v1_1702562855794_enlighted.png"
---
<h2>LifeWatch Slovenia featured in the LifeWatch ERIC newsletter</h2>
				<img width="495" height="728" src="/assets/uploads/24436000013989004_zc_v1_1702562855794_enlighted.png" alt="" srcset="/assets/uploads/24436000013989004_zc_v1_1702562855794_enlighted.png 495w, /assets/uploads/24436000013989004_zc_v1_1702562855794_enlighted-204x300.png 204w" sizes="(max-width: 495px) 100vw, 495px" />
				<p><br>In the December 2023 LifeWatch Newsletter issue the photo of the month was featured from our colleague<b>&nbsp;Žan Kafol </b>from&nbsp;<b>LifeWatch Slovenia</b>, who won the <a href="https://photocontestsi.natgeotv.com/winners" target="_blank" rel="noopener">National Geographic 2023 photo contest</a>&nbsp;for the second year in a row.</p>
<p>The photo title is &#8220;<b>ENLIGHTENED (All Milky Ways Lead to Rakov Škocjan)</b>&#8220;. It won in the landscape category and was declared the expert jury&#8217;s overall competition winner. Rakov Škocjan, a karst valley between Planinsko polje and Cerkniško polje in Slovenia, is known for its typical karst features and has been nominated as a UNESCO World Heritage Site.</p>
<p>The photo was taken during summer, amidst the Perseids meteor shower, and depicts a night scene in front of the entrance to the Zelške Caves and below the <br>Small Natural Bridge.</p>
				<a href="https://tchr-zcmp.campaign-view.eu/ua/viewinbrowser?od=3z7cc6dcca0a20d68342c4e5b21892520b&#038;rd=156d0699c912c1a&#038;sd=156d0699c9129db&#038;n=11699e4c2a4ad1a&#038;mrd=156d0699c9129bf&#038;m=1">
						<span>
									<span>Open newsletter</span>
					</span>
					</a>
