---
layout: "post.njk"
title: "LifeWatch Slovenia at BES Annual Meeting in Liverpool, December 10-13, 2024"
date: "2024-12-19T10:58:44"
permalink: "/lifewatch-slovenia-at-bes-annual-meeting-in-liverpool-december-10-13-2024/"
image: "/assets/uploads/WhatsApp-Image-2024-12-19-at-10.39.03.jpeg"
---
<header class="post-detail-heading">
  <h2>LifeWatch Slovenia at BES Annual Meeting in Liverpool, December 10-13, 2024</h2>
</header>
<div class="post-detail-columns">
  <div class="post-detail-media">
    <img width="1024" height="485" src="/assets/uploads/WhatsApp-Image-2024-12-19-at-10.39.03-1024x485.jpeg" alt="Three attendees at the British Ecological Society Annual Meeting" srcset="/assets/uploads/WhatsApp-Image-2024-12-19-at-10.39.03-1024x485.jpeg 1024w, /assets/uploads/WhatsApp-Image-2024-12-19-at-10.39.03-300x142.jpeg 300w, /assets/uploads/WhatsApp-Image-2024-12-19-at-10.39.03-768x364.jpeg 768w, /assets/uploads/WhatsApp-Image-2024-12-19-at-10.39.03-1536x728.jpeg 1536w, /assets/uploads/WhatsApp-Image-2024-12-19-at-10.39.03.jpeg 1600w" sizes="(max-width: 767px) 100vw, 540px">
  </div>
  <div class="post-detail-copy">
    <p>From 10 to 13 December 2024, over 1500 ecologists gathered in Liverpool for Europe’s largest conference dedicated to ecology: British Ecological Society Annual Meeting.</p>
    <p>The event held particular relevance for LifeWatch ERIC, thanks to a rich programme of Thematic sessions, addressing the biodiversity crisis, nature restoration policies and practices, novels tools and technologies to tackle current challenges, and much more.</p>
    <p>LifeWatch Slovenia consortium was represented by our colleague, <b>Dr. Andreja Ramšak</b> from the National Institute of Biology, Marine Biology Station Piran, presenting the lecture: “<i>Towards automated biodiversity monitoring -a set-up of Biodiversity Observatory Automation (Thematic Topic under LifeWatch-ERIC)</i>” in co-authorship with colleagues from the consortium: Dr. Cene Fišer (University of Ljubljana, Biotechnical Faculty, Dr. Magdalena Năpăruş-Aljančič and Dr. Tanja Pipan (Karst Research Institute ZRC SAZU), Dr. Nataša Pipenbaher (University of Maribor, Faculty of Natural Sciences and Mathematics), and Dr. Urša Vilhar (Slovenian Forestry Institute, Department for Forest Ecology).</p>
    <p>This annual meeting also brought together one of the most relevant scientific communities for LifeWatch ERIC’s mission.</p>
  </div>
</div>
