---
layout: "post.njk"
title: "LifeWatch Slovenia featured in the LifeWatch ERIC newsletter"
date: "2024-08-01T10:36:40"
permalink: "/lifewatch-slovenia-pic-of-the-month/"
image: "/assets/uploads/24436000016519004_zc_v1_1722334102406_july_picofthemonth.jpg"
---
<h2>LifeWatch Slovenia featured in the LifeWatch ERIC newsletter</h2>
				<img width="792" height="486" src="/assets/uploads/24436000016519004_zc_v1_1722334102406_july_picofthemonth.jpg" alt="" srcset="/assets/uploads/24436000016519004_zc_v1_1722334102406_july_picofthemonth.jpg 792w, /assets/uploads/24436000016519004_zc_v1_1722334102406_july_picofthemonth-300x184.jpg 300w, /assets/uploads/24436000016519004_zc_v1_1722334102406_july_picofthemonth-768x471.jpg 768w" sizes="(max-width: 792px) 100vw, 792px" />
				<p> </p><p>In the July-August 2024 LifeWatch Newsletter issue the photo of the month was featured from our colleague <b>Petra Slavinec</b> of the Marine Biological Station in Piran, Slovenia, taken with a scanning electron microscope, provided within the RI-SI-LifeWatch national project.</p>
				<a href="https://tchr-zcmp.campaign-view.eu/ua/viewinbrowser?od=3z7cc6dcca0a20d68342c4e5b21892520b&#038;rd=156d0699cb78f45&#038;sd=156d0699cb78e0f&#038;n=11699e4c149e596&#038;mrd=156d0699cb78df9&#038;m=1">
						<span>
									<span>Open newsletter</span>
					</span>
					</a>
