---
layout: "post.njk"
title: "Participation in the conference LifeWatch ERIC BEeS​"
date: "2023-05-25T10:40:07"
permalink: "/participation-in-the-conference-lifewatch-eric-bees/"
image: "/assets/uploads/bees.png"
---
<h2>Participation in the conference LifeWatch ERIC BEeS</h2>
				<img width="1024" height="779" src="/assets/uploads/bees-1024x779.png" alt="" srcset="/assets/uploads/bees-1024x779.png 1024w, /assets/uploads/bees-300x228.png 300w, /assets/uploads/bees-768x584.png 768w, /assets/uploads/bees-1536x1168.png 1536w, /assets/uploads/bees.png 1955w" sizes="(max-width: 1024px) 100vw, 1024px" />
				<p>Participation in the conference LifeWatch ERIC BEeS &#8220;<b>Threats and challenges to biodiversity and ecosystem conservation from an eScience perspective</b>,&#8221; Sevilla, Spain, May 22 &#8211; 24, 2023.</p><p><span>Gregor Aljančič, along with co-authors, presented the first results obtained with the RI-SI-LifeWatch equipment, designed for the exposure of ProteusWatch in the virtual laboratory:</span></p><p><span>Gregor Aljančič*, Octavian Machidon, Magdalena Aljančič, Alina Machidon &amp; Tanja Pipan: Challenges and preliminary results in building virtual laboratories to monitor Proteus anguinus and its karst groundwater habitat.</span></p>
				<a href="https://www.lifewatch.eu/bees-2023/abstract-book-presentations/">
						<span>
									<span>Abstract</span>
					</span>
					</a>
				<a href="https://www.lifewatch.eu/wp-content/uploads/2023/05/BEeS-2023-Aljancic-Gregor.pdf">
						<span>
									<span>Presentation</span>
					</span>
					</a>
