---
layout: "post.njk"
title: "Representatives of the Slovenian LifeWatch consortium at the LifeWatch ERIC BEeS Conference in Heraklion"
date: "2025-07-05T14:22:30"
permalink: "/representatives-of-the-slovenian-lifewatch-consortium-at-the-lifewatch-eric-bees-conference-in-heraklion/"
image: "/assets/uploads/bees.jpg"
---
<div class="post-detail-columns post-detail-columns--representatives">
  <div class="post-detail-column">
    <p>Between June 30 and July 3, 2025, the LifeWatch ERIC BEeS (Biodiversity and Ecosystem eScience) Conference took place in Heraklion, Crete, Greece, in which representatives of the Slovenian LifeWatch consortium also actively participated.</p>
    <p>The conference focused on the triple planetary crisis (climate change, biodiversity loss and pollution) from the perspective of e-science and European research infrastructures. 193 participants were able to listen to 59 lectures, see 36 posters, 15 presentations of European projects related to the theme of the conference and 15 research infrastructures, and take part in 12 workshops.</p>
    <div class="post-detail-media">
      <img width="1024" height="576" src="/assets/uploads/bees-1024x576.jpg" alt="Participants at the BEeS 2025 conference in Heraklion" srcset="/assets/uploads/bees-1024x576.jpg 1024w, /assets/uploads/bees-300x169.jpg 300w, /assets/uploads/bees-768x432.jpg 768w, /assets/uploads/bees.jpg 1296w" sizes="(max-width: 767px) 100vw, 540px">
    </div>
    <p>Representatives of LifeWatch Slovenia participated in a series of lectures and posters entitled “Biodiversity Observatory: Smart Systems for a Living Planet – Revolutionising Biodiversity Monitoring with Automation”, coordinated by Andreja Ramšak from the Marine Biology Station Piran of the National Institute of Biology.</p>
  </div>
  <div class="post-detail-column">
    <div class="post-detail-media">
      <img width="934" height="526" src="/assets/uploads/bees2.jpg" alt="Hellenic Centre for Marine Research in Heraklion" srcset="/assets/uploads/bees2.jpg 934w, /assets/uploads/bees2-300x169.jpg 300w, /assets/uploads/bees2-768x433.jpg 768w" sizes="(max-width: 767px) 100vw, 540px">
    </div>
    <p>Within the framework of the aforementioned section, Andreja Ramšak, in collaboration with the Karst Research Institute of the Slovenian Academy of Sciences and Arts, the University of Ljubljana, the University of Maribor and the Slovenian Forestry Institute, also prepared a lecture entitled “LifeWatch ERIC thematic service on Observation systems”.</p>
    <p>Likewise, Saša Šercer from the Slovenian Forestry Institute prepared a lecture entitled “Challenges in automation of monitoring and modeling in karst forest ecosystems”.</p>
    <p>Nejc Suban from the Slovenian Forestry Institute, in collaboration with the Karst Research Institute of the Slovenian Academy of Sciences and Arts, prepared a poster entitled “Environmental DNA in leached water to assess soil biodiversity – Testing the concept”, and Jasmina Čeligoj Biščak from the Karst Research Institute of the Slovenian Academy of Sciences and Arts, in collaboration with all partners of the Slovenian consortium, prepared a poster entitled “Ten Years of the LifeWatch Slovenian Consortium – Challenges and Success Stories”.</p>
    <p>The conference was hosted by representatives of LifeWatch Greece, the Hellenic Centre for Marine Research (HCMR) and the Institute of Marine Biology, Biotechnology and Aquaculture (IMBBC)</p>
  </div>
</div>
