---
layout: "page.njk"
title: "About us"
permalink: "/about/"
---
<div class="elementor-two-col intro-with-map">
<div>
<p>LifeWatch Slovenia is one of the national nodes composing LifeWatch ERIC, European Infrastructure consortium providing e-Science research facilities, data resources, web services and Virtual Research Environments (VRE) to biodiversity and ecosystem research.</p>
<p>The Research Infrastructure Roadmap 2021-2030, listed LifeWatch among the projects within the priority areas for the establishment of the NRRI in the field of Sustainable Energy Resources and Environmental Technologies. Slovenian researchers cooperating in this infrastructure are seeking to raise Slovenian science to an internationally comparable level in Environmental sciences.</p>
<p>LifeWatch is part of the Slovenian Strategy for Smart Specialization (S4) and Horizon 2020, focusing on the development of technological solutions in the field of biodiversity and socio-ecosystem research. Since 2015, the Slovenian Consortium, LifeWatch-SI, has been promoting the importance of integrating and networking information &amp; data in order to:</p>

<ul>
 	<li>coordinate biodiversity research in marine, freshwater and terrestrial ecosystems;</li>
 	<li>plan common access to a vast array of data from various databases and observatories;</li>
 	<li>predict computing capabilities with analytical and modelling tools in virtual laboratories;</li>
 	<li>support training and educational programs that will enable a proper understanding of biodiversity</li>
</ul>
</div>
<img width="1964" height="1312" src="/assets/uploads/slovenia.svg" alt="Illustrated map of Slovenia representing its biodiversity" />
</div>

<div class="elementor-two-col about-cards">
<section>
<figure><img width="277" height="132" src="/assets/uploads/LW-SI-OUTLINED.svg" alt="" /></figure><h3 aria-level="2">LifeWatch Slovenia</h3><p>Several partners from the  LifeWatch Slovenia consortium actively contribute, with new ecological research measurements and observations which are integrated into dedicated data and services for different ecosystem domains:
<br><br>
1. Terrestrial ecosystem: The Database of the Slovenian Bird Ringing Centre (BRDbase);
<br>
2. Marine ecosystem: Buoy VIDA, vector data service;
<br>
3. Forest ecosystem: the FOR-PLAT data platform;
<br>
4. Aquatic ecosystem, with two future virtual labs to assess and monitor inaccessible and unique karst groundwater biodiversity hotspots (e.g. <i>Proteus anguinus</i> and various cave invertebrates): ProteusWatch vLab and Karst Groundwater Habitats vLab.</p>
</section>
<section>
<figure><img width="700" height="414" src="/assets/uploads/logoLW_eric_outline2-01.svg" alt="" /></figure><h3 aria-level="2">LifeWatch ERIC</h3><p>LifeWatch ERIC is the Consortium for a European e-Science and Technology Infrastructure for biodiversity and ecosystem research. LifeWatch ERIC facilitates open data sharing and aggregation, the integration and analysis in advanced models. Its VRE, together with its computational capabilities and disruptive technologies, enables testing scenarios for changes in the organization and conservation of biodiversity, ecosystems and their services.</p>
</section>
</div>
