---
layout: page.njk
title: Materiali di Comunicazione
permalink: /communications/materiali-di-comunicazione/
---
<div class="communication-materials">
  <div class="communication-materials-intro">
    <p>Volantini, video, report delle attivit&agrave; ed altri materiali di comunicazione sono disponibili per la visualizzazione ed il download.</p>
  </div>
  <div class="material-downloads">
    <div class="material-download">
      <img src="/assets/uploads/LW-SI-OUTLINED.svg" width="277" height="132" alt="">
      <h2>Video</h2>
    </div>
    <a class="material-download" href="/assets/uploads/LW-slovenia_screen3_SL.pdf" target="_blank" rel="noopener">
      <img src="/assets/uploads/LW-SI-OUTLINED.svg" width="277" height="132" alt="">
      <h2>Volantino SL</h2>
    </a>
    <a class="material-download" href="/assets/uploads/LW-slovenia_ENG_screen3.pdf" target="_blank" rel="noopener">
      <img src="/assets/uploads/LW-SI-OUTLINED.svg" width="277" height="132" alt="">
      <h2>Volantino EN</h2>
    </a>
  </div>
</div>
