---
layout: "page.njk"
title: "Consortium"
permalink: "/consortium/"
---
The LifeWatch-SI consortium consists of 10 partners from nationally and internationally recognised scientific institutions, universities, a regional park, a national museum, and an NGO, all active in the field of biodiversity and ecosystem research, with ZRC SAZU serving as the national coordinator and headquarters of LifeWatch-SI.
				<img width="277" height="132" src="/assets/uploads/LW-SI-OUTLINED.svg" alt="" />
				<article>
			<a href="https://lifewatch.si/partners/izrk/" tabindex="-1" ><img width="677" height="421" src="/assets/uploads/ZRCSAZU_Institut-za-raziskovanje-krasa_logotip_CMYK-1024x363-1-2.jpg" alt="" srcset="/assets/uploads/ZRCSAZU_Institut-za-raziskovanje-krasa_logotip_CMYK-1024x363-1-2.jpg 677w, /assets/uploads/ZRCSAZU_Institut-za-raziskovanje-krasa_logotip_CMYK-1024x363-1-2-300x187.jpg 300w" sizes="(max-width: 677px) 100vw, 677px" /></a>
				<h4>
			<a href="https://lifewatch.si/partners/izrk/" >
				Karst Research Institute ZRC SAZU			</a>
		</h4>
		</article>
				<article>
			<a href="https://lifewatch.si/partners/nib/" tabindex="-1" ><img width="400" height="400" src="/assets/uploads/LOGO-NIB-400x400-1.jpg" alt="" srcset="/assets/uploads/LOGO-NIB-400x400-1.jpg 400w, /assets/uploads/LOGO-NIB-400x400-1-300x300.jpg 300w, /assets/uploads/LOGO-NIB-400x400-1-150x150.jpg 150w" sizes="(max-width: 400px) 100vw, 400px" /></a>
				<h4>
			<a href="https://lifewatch.si/partners/nib/" >
				National Institute of Biology			</a>
		</h4>
		</article>
				<article>
			<a href="https://lifewatch.si/partners/gozdis/" tabindex="-1" ><img width="500" height="400" src="/assets/uploads/sfi.png" alt="" srcset="/assets/uploads/sfi.png 500w, /assets/uploads/sfi-300x240.png 300w" sizes="(max-width: 500px) 100vw, 500px" /></a>
				<h4>
			<a href="https://lifewatch.si/partners/gozdis/" >
				Slovenian Forestry Institute			</a>
		</h4>
		</article>
				<article>
			<a href="https://lifewatch.si/partners/pms-lj/" tabindex="-1" ><img width="581" height="581" src="/assets/uploads/prirodoslovni-muzej-slo.png" alt="" srcset="/assets/uploads/prirodoslovni-muzej-slo.png 581w, /assets/uploads/prirodoslovni-muzej-slo-300x300.png 300w, /assets/uploads/prirodoslovni-muzej-slo-150x150.png 150w, /assets/uploads/prirodoslovni-muzej-slo-500x500.png 500w" sizes="(max-width: 581px) 100vw, 581px" /></a>
				<h4>
			<a href="https://lifewatch.si/partners/pms-lj/" >
				Slovenian Natural History Museum			</a>
		</h4>
		</article>
				<article>
			<a href="https://lifewatch.si/partners/skocjan-caves-park/" tabindex="-1" ><img width="531" height="427" src="/assets/uploads/347_1.jpg" alt="" srcset="/assets/uploads/347_1.jpg 531w, /assets/uploads/347_1-300x241.jpg 300w" sizes="(max-width: 531px) 100vw, 531px" /></a>
				<h4>
			<a href="https://lifewatch.si/partners/skocjan-caves-park/" >
				Škocjan Caves Park			</a>
		</h4>
		</article>
				<article>
			<a href="https://lifewatch.si/partners/tular/" tabindex="-1" ><img width="768" height="565" src="/assets/uploads/unnamed-1-768x565.jpg" alt="" srcset="/assets/uploads/unnamed-1-768x565.jpg 768w, /assets/uploads/unnamed-1-300x221.jpg 300w, /assets/uploads/unnamed-1-1024x754.jpg 1024w, /assets/uploads/unnamed-1.jpg 1219w" sizes="(max-width: 768px) 100vw, 768px" /></a>
				<h4>
			<a href="https://lifewatch.si/partners/tular/" >
				Tular Cave Laboratory			</a>
		</h4>
		</article>
				<article>
			<a href="https://lifewatch.si/partners/uni-lj/" tabindex="-1" ><img width="360" height="260" src="/assets/uploads/logo-ul-e1673815382462.jpg" alt="" srcset="/assets/uploads/logo-ul-e1673815382462.jpg 360w, /assets/uploads/logo-ul-e1673815382462-300x217.jpg 300w" sizes="(max-width: 360px) 100vw, 360px" /></a>
				<h4>
			<a href="https://lifewatch.si/partners/uni-lj/" >
				University of Ljubljana			</a>
		</h4>
		</article>
				<article>
			<a href="https://lifewatch.si/partners/uni-mb/" tabindex="-1" ><img width="768" height="768" src="/assets/uploads/unnamed-1-1-768x768.jpg" alt="" srcset="/assets/uploads/unnamed-1-1-768x768.jpg 768w, /assets/uploads/unnamed-1-1-300x300.jpg 300w, /assets/uploads/unnamed-1-1-150x150.jpg 150w, /assets/uploads/unnamed-1-1-500x500.jpg 500w, /assets/uploads/unnamed-1-1.jpg 900w" sizes="(max-width: 768px) 100vw, 768px" /></a>
				<h4>
			<a href="https://lifewatch.si/partners/uni-mb/" >
				University of Maribor			</a>
		</h4>
		</article>
				<article>
			<a href="https://lifewatch.si/partners/ung/" tabindex="-1" ><img width="600" height="600" src="/assets/uploads/19_Univerza-NG-600x600-1.jpg" alt="" srcset="/assets/uploads/19_Univerza-NG-600x600-1.jpg 600w, /assets/uploads/19_Univerza-NG-600x600-1-300x300.jpg 300w, /assets/uploads/19_Univerza-NG-600x600-1-150x150.jpg 150w, /assets/uploads/19_Univerza-NG-600x600-1-500x500.jpg 500w" sizes="(max-width: 600px) 100vw, 600px" /></a>
				<h4>
			<a href="https://lifewatch.si/partners/ung/" >
				University of Nova Gorica			</a>
		</h4>
		</article>
				<article>
			<a href="https://lifewatch.si/partners/upr/" tabindex="-1" ><img width="768" height="569" src="/assets/uploads/famnit_logo_big-768x569.png" alt="" srcset="/assets/uploads/famnit_logo_big-768x569.png 768w, /assets/uploads/famnit_logo_big-300x222.png 300w, /assets/uploads/famnit_logo_big-1024x758.png 1024w, /assets/uploads/famnit_logo_big-1536x1137.png 1536w, /assets/uploads/famnit_logo_big.png 1556w" sizes="(max-width: 768px) 100vw, 768px" /></a>
				<h4>
			<a href="https://lifewatch.si/partners/upr/" >
				University of Primorska			</a>
		</h4>
		</article>
