---
layout: "page.njk"
title: "Contacts"
permalink: "/contacts/"
---
<h2>LifeWatch Slovenia</h2>
				<p><b>Karst Research Institute ZRC SAZU<br></b><span>Headquarters of LifeWatch Slovenia</span></p>
<p><strong>Tanja Pipan</strong>, PhD <br>National representative for LifeWatch Slovenia</p>
				<h3>E-mail</h3>
				<p>info.lifewatch@zrc-sazu.si</p>
				<h3>Telephone</h3>
				<p>+386 (0) 5 700 19 40</p>
				Address
				<span>Karst Research Institute ZRC SAZU</span><p>Titov trg 2<br />6230 Postojna<br />Slovenia</p>
				<img width="693" height="463" src="/assets/uploads/slovenia.svg" alt="" />
