---
layout: "page.njk"
title: "Projects"
permalink: "/projects/"
---
<div class="elementor-project-grid">
  <article>
    <a href="/related-projects/ri-si-lifewatch/">
      <img src="/assets/uploads/RI-SI-1536x981-1.png" alt="">
    </a>
    <h2><a href="/related-projects/ri-si-lifewatch/">RI-SI-LifeWatch</a></h2>
  </article>
  <article>
    <a href="/related-projects/envri-fair/">
      <img src="/assets/uploads/ENVRI-FAIR-project-1024x654-1.png" alt="">
    </a>
    <h2><a href="/related-projects/envri-fair/">ENVRI-FAIR</a></h2>
  </article>
  <article>
    <a href="/related-projects/open-earth-monitor/">
      <img src="/assets/uploads/OEM_Logo_Horizontal_Dark_Transparent_Background_205x38.png" alt="">
    </a>
    <h2><a href="/related-projects/open-earth-monitor/">Open-Earth-Monitor</a></h2>
  </article>
</div>
