---
layout: "page.njk"
title: "Projects"
permalink: "/projects/"
---
<div  >		<a href="https://lifewatch.si/related-projects/ri-si-lifewatch/">
							<img width="1536" height="981" src="/assets/uploads/RI-SI-1536x981-1.png" alt="" />								</a>
				<h1><a href="https://lifewatch.si/related-projects/ri-si-lifewatch/">RI-SI-LifeWatch</a></h1><div  >		<a href="https://lifewatch.si/related-projects/envri-fair/">
							<img width="1024" height="654" src="/assets/uploads/ENVRI-FAIR-project-1024x654-1.png" alt="" />								</a>
				<h1><a href="https://lifewatch.si/related-projects/envri-fair/">ENVRI-FAIR</a></h1><div  >		<a href="https://lifewatch.si/related-projects/open-earth-monitor/">
							<img width="646" height="169" src="/assets/uploads/OEM_Logo_Horizontal_Dark_Transparent_Background_205x38.png" alt="" srcset="/assets/uploads/OEM_Logo_Horizontal_Dark_Transparent_Background_205x38.png 646w, /assets/uploads/OEM_Logo_Horizontal_Dark_Transparent_Background_205x38-300x78.png 300w" sizes="(max-width: 646px) 100vw, 646px" />								</a>
				<h1><a href="https://lifewatch.si/related-projects/open-earth-monitor/">Open-Earth-Monitor</a></h1>
