---
layout: "page.njk"
title: "Projects"
permalink: "/projects/"
---
<div class="elementor-project-grid">
  <article>
    <a href="/related-projects/ri-si-lifewatch/">
      <img src="/assets/uploads/RI-SI-1536x981-1.png" width="1536" height="981" alt="">
      <h2>RI-SI-LifeWatch</h2>
    </a>
  </article>
  <article>
    <a href="/related-projects/envri-fair/">
      <img src="/assets/uploads/ENVRI-FAIR-project-1024x654-1.png" width="1024" height="654" alt="">
      <h2>ENVRI-FAIR</h2>
    </a>
  </article>
  <article>
    <a href="/related-projects/open-earth-monitor/">
      <img src="/assets/uploads/OEM_Logo_Horizontal_Dark_Transparent_Background_205x38.png" width="646" height="169" alt="">
      <h2>Open-Earth-Monitor</h2>
    </a>
  </article>
</div>
