---
layout: "page.njk"
title: "Open-Earth-Monitor"
permalink: "/projects/open-earth-monitor/"
---
<p>Open-Earth-Monitor supports open-source environmental cyberinfrastructure and monitoring workflows.</p>
