---
layout: "page.njk"
title: "RI-SI-LifeWatch moved"
permalink: "/projects/ri-si-lifewatch/"
---
<p><a href="/related-projects/ri-si-lifewatch/">RI-SI-LifeWatch</a></p><p>RI-SI-LifeWatch strengthened Slovenian participation in the LifeWatch ERIC infrastructure and supported national biodiversity and ecosystem research services.</p>
